.table {
  margin-bottom: 0;
}
.row-actions-header {
  width: 100px;
}

td {
  vertical-align: middle;
}

.select-row-header, .select-row {
  width: 28px;
}

::ng-deep .ngx-checkbox--box {
  margin: 0 !important;
}

.delete-all {
  margin-top: 1rem;
  margin-right: 1rem;
  .ngx-icon {
    margin-top: -6px;
  }
}

.delete-all-wrapper {
  text-align: right;
}
