@import '@swimlane/ngx-ui/index.css';


$ngx-font-path: './assets/icons/iconfont/fonts' !default;

@font-face {
  font-family: 'ngx-icon';
  src: url('#{$ngx-font-path}/ngx-icon.eot');
  src: url('#{$ngx-font-path}/ngx-icon.eot') format('embedded-opentype'),
    url('#{$ngx-font-path}/ngx-icon.woff2') format('woff2'), url('#{$ngx-font-path}/ngx-icon.woff') format('woff'),
    url('#{$ngx-font-path}/ngx-icon.ttf') format('truetype'), url('#{$ngx-font-path}/ngx-icon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

.ngx-notification-body {
  white-space: pre-wrap;
}

.nms-compact-form {
  display: grid;
  // grid-template-rows: auto auto;
  column-gap: 1rem;
  label {
    display: block;
    width: 100%;
    grid-row: 1;
  }
  .input {
    grid-row: 2;
    margin-bottom: 0;
  }

  label.required {
    &::after {
      font-weight: 900;
      content: ' *';
      color: yellow;
    }
  }

  input:invalid {
    border-color: red;
  }
}

@media (max-width: 1000px) {
  .nms-compact-form {
    display: flex;
    flex-direction: column;
    .input {
      margin-bottom: 1rem;
    }
    .input[type="submit"] {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 200px;
      height: 2.5rem;
      width: 50%;
    }
  }
}

.datatable {
  .table, &.table {
    margin-bottom: 0;
  }
  .row-actions-header {
    width: 100px;
  }

  td {
    vertical-align: middle;
  }

  .select-row-header, .select-row {
    width: 28px;
  }

  ::ng-deep .ngx-checkbox--box {
    margin: 0 !important;
  }

  .delete-all {
    margin-top: 1rem;
    margin-right: 1rem;
    .ngx-icon {
      margin-top: -6px;
    }
  }

  .delete-all-wrapper {
    text-align: right;
  }

  .row-actions {
    width: 100px;
    .row-actions-wrapper {
      display: flex;
      gap: .5rem;
      justify-content: center;
    }
  }
  form {
    display: contents;
  }
  input:invalid {
    border-color: red;
  }
}
